:root {
  --primary-color: #0A2345;
  --white: #FFFFFF;
  --black: #000000;
  --green: #6FB23B;
  --grey: #B8B8B8;
  --mg-bottom: 30px
;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  direction: rtl;
  color: var(--white);
  background-color: var(--primary-color);
  font-family: 'League Spartan', sans-serif;
}

.preload {
  -webkit-transition: none !important;
  transition: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: auto;
  padding: 20px 20px 0;
  max-width: 1200px;
}

.btn {
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  background-color: var(--green);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.hide {
  display: none;
}

.price {
  direction: ltr;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  display: inline-block;
  color: var(--green);
}

.discount {
  color: #8f8a8a;
  text-decoration: line-through;
}

.message-success {
  color: #fafafa;
  background-color: #81c784;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: .5rem;
  font-weight: bold;
}

header {
  margin-bottom: var(--mg-bottom);
}

header .categories-liste {
  max-width: 900px;
  margin: auto;
}

header .categories-liste ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-size: 25px;
}

header .categories-liste ul li {
  border-radius: 20px;
  padding: 5px 15px;
  background-color: var(--grey);
  opacity: 0.7;
}

header .categories-liste ul li:hover {
  opacity: 1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 3px -3px #fff;
          box-shadow: 0 5px 3px -3px #fff;
  padding-bottom: 5px;
}

nav .menu button {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: var(--white);
  border: none;
}

nav .menu-sidebar .dropdown {
  visibility: hidden;
}

nav .menu-sidebar .dropdown .select {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

nav .menu-sidebar .dropdown .select .caret {
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

nav .menu-sidebar.visible .menu-links {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .menu-sidebar.visible .menu-overlay {
  opacity: 1;
  visibility: visible;
}

nav .menu-links, nav .menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

nav .menu-links {
  background-color: #0C0A3B;
  color: var(--white);
  padding-top: 46px;
  width: 250px;
  z-index: 2;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  overflow-y: scroll;
}

nav .menu-links::-webkit-scrollbar {
  display: block;
  width: 10px;
  background-color: transparent;
}

nav .menu a.menu-link {
  text-transform: capitalize;
  display: block;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

nav .menu a.menu-link:hover {
  background-color: #262364;
}

nav .menu-overlay {
  background-color: #0000008f;
  z-index: 1;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

nav h1 {
  font-size: 30px;
  text-align: center;
}

nav .logo img {
  width: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 760px) {
  header .categories-liste {
    display: none;
  }
  nav h1 {
    font-size: 20px;
  }
  nav .menu-links.scroll::-webkit-scrollbar {
    background-color: #fff;
  }
  nav .menu-links.scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  nav .menu-links .dropdown {
    visibility: visible;
  }
  nav .menu-links .dropdown .categories-dropdown {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, -webkit-transform 300ms;
    transition: transform 300ms, opacity 300ms;
    transition: transform 300ms, opacity 300ms, -webkit-transform 300ms;
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  nav .menu-links .dropdown .categories-dropdown a {
    pointer-events: none;
  }
  nav .menu-links .dropdown.active .caret {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  nav .menu-links .dropdown.active .categories-dropdown {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  nav .menu-links .dropdown.active .categories-dropdown a {
    pointer-events: visible;
  }
}

body {
  min-height: 100vh;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  background-color: #222;
  color: white;
  padding: 50px 60px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: auto;
}

footer .title {
  font-size: 2.4rem;
  font-weight: 500;
}

footer .copyright p {
  font-size: 18px;
}

footer .mg-bottom {
  margin-bottom: 15px;
}

@media only screen and (max-width: 760px) {
  footer {
    padding: 40px 60px;
    padding-bottom: 100px;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-gap: 40px;
  }
}

.social-media {
  font-size: 2rem;
}

.social-media a {
  margin-right: 10px;
  color: #fff;
}

.social-media .fa-facebook:hover {
  color: #1875ea;
}

.social-media .fa-instagram:hover {
  color: #d4465c;
}

.politique {
  margin: 0 0 50px;
  direction: rtl;
}

.politique h3 {
  margin: 30px 0 11px;
}

.politique h3.under-line {
  text-decoration: underline;
}

.politique p {
  margin-bottom: 15px;
  font-size: 19.5px;
  line-height: 25px;
}

.politique li {
  list-style: disc;
  margin: 5px 0;
}
