:root {
  --primary-color: #0A2345;
  --white: #FFFFFF;
  --black: #000000;
  --green: #6FB23B;
  --grey: #B8B8B8;
  --mg-bottom: 30px
;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--primary-color);
  font-family: 'League Spartan', sans-serif;
}

.preload {
  -webkit-transition: none !important;
  transition: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: auto;
  padding: 20px 20px 0;
  max-width: 1200px;
}

.btn {
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  background-color: var(--green);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.hide {
  display: none;
}

.price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  display: inline-block;
  color: var(--green);
}

.discount {
  color: #8f8a8a;
  text-decoration: line-through;
}

header {
  margin-bottom: var(--mg-bottom);
}

header .categories-liste {
  max-width: 900px;
  margin: auto;
}

header .categories-liste ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-size: 25px;
}

header .categories-liste ul li {
  border-radius: 20px;
  padding: 5px 15px;
  background-color: var(--grey);
  opacity: 0.7;
}

header .categories-liste ul li:hover {
  opacity: 1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

nav .menu button {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: var(--white);
  border: none;
}

nav .menu-sidebar .dropdown {
  visibility: hidden;
}

nav .menu-sidebar .dropdown .select {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

nav .menu-sidebar .dropdown .select .caret {
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

nav .menu-sidebar.visible .menu-links {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .menu-sidebar.visible .menu-overlay {
  opacity: 1;
  visibility: visible;
}

nav .menu-links, nav .menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

nav .menu-links {
  background-color: #0C0A3B;
  color: var(--white);
  padding-top: 46px;
  width: 250px;
  z-index: 2;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  overflow-y: scroll;
}

nav .menu-links::-webkit-scrollbar {
  display: block;
  width: 10px;
  background-color: transparent;
}

nav .menu a.menu-link {
  text-transform: capitalize;
  display: block;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

nav .menu a.menu-link:hover {
  background-color: #262364;
}

nav .menu-overlay {
  background-color: #0000008f;
  z-index: 1;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

nav h1 {
  font-size: 2.8vw;
  text-align: center;
}

nav .logo img {
  width: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 760px) {
  header .categories-liste {
    display: none;
  }
  nav h1 {
    font-size: 3vw;
  }
  nav .menu-links.scroll::-webkit-scrollbar {
    background-color: #fff;
  }
  nav .menu-links.scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  nav .menu-links .dropdown {
    visibility: visible;
  }
  nav .menu-links .dropdown .categories-dropdown {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, -webkit-transform 300ms;
    transition: transform 300ms, opacity 300ms;
    transition: transform 300ms, opacity 300ms, -webkit-transform 300ms;
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  nav .menu-links .dropdown .categories-dropdown a {
    pointer-events: none;
  }
  nav .menu-links .dropdown.active .caret {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  nav .menu-links .dropdown.active .categories-dropdown {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  nav .menu-links .dropdown.active .categories-dropdown a {
    pointer-events: visible;
  }
}

html {
  scroll-behavior: smooth;
}

section.produit {
  margin-bottom: 100px;
}

.produit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.produit-box .produit-details, .produit-box .formulaire {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.produit-details {
  padding-right: 30px;
  margin-bottom: 30px;
}

.produit-title {
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center;
}

.poduit-images {
  margin-bottom: 15px;
}

.poduit-images .image-to-show {
  width: auto;
  max-width: 450px;
  margin: auto;
}

.poduit-images .image-to-show > img {
  width: 100%;
}

.produit-price {
  color: var(--green);
  font-size: 35px;
  margin-bottom: 10px;
}

.produit-price::after {
  content: "DA";
}

.produit-descriptions .produit-description-ar,
.produit-descriptions .produit-description-fr {
  margin-bottom: 15px;
}

.produit-descriptions .produit-description-ar {
  direction: rtl;
}

.formulaire {
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
}

.formulaire h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.formulaire input {
  border: none;
  outline: none;
}

.formulaire input[type="text"],
.formulaire input[type="number"],
.formulaire .adresse,
.formulaire .total-price {
  margin-bottom: 15px;
}

.formulaire input[type="text"] {
  display: block;
  padding: 5px 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
}

.formulaire label, .formulaire .total-price {
  font-size: 20px;
  font-weight: bold;
}

.formulaire select {
  width: 155px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}

.formulaire select[name="wilaya"] {
  margin-right: 10px;
}

.formulaire .select-box {
  display: inline-block;
  margin-bottom: 15px;
}

.formulaire input[type="number"] {
  width: 60px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 6px;
}

.formulaire input[type=number]::-webkit-inner-spin-button,
.formulaire input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.formulaire .total-price {
  font-size: 30px;
}

.formulaire .total-price span {
  color: var(--green);
}

.formulaire .total-price span::after {
  content: "DA";
}

.formulaire button[type="submit"] {
  background-color: var(--green);
  font-weight: bold;
  font-size: 25px;
  padding: 10px 40px;
  width: 280px;
  text-align: start;
  border-radius: 21px;
  cursor: pointer;
  border: none;
}

.formulaire .errors-box {
  margin-bottom: 15px;
  border-radius: 5px;
  color: red;
  background: #ffffff;
  padding: 10px;
  max-width: 300px;
  display: none;
}

.formulaire .errors-box.visible {
  display: block;
}

.formulaire .errors-box li {
  list-style-type: disc;
  list-style-position: inside;
}

.commande-button {
  padding: 15px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #0063cc;
  border-radius: 7px;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  display: none;
}

@media only screen and (max-width: 760px) {
  .produit-box {
    display: block;
  }
  .produit-box .produit-details {
    padding: 0;
  }
  .formulaire {
    margin: auto;
    max-width: auto;
  }
  .commande-button {
    opacity: 0;
    display: block;
    left: 20px;
    right: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  .commande-button.fadeout {
    opacity: 0;
    pointer-events: none;
  }
  .commande-button.fadein {
    opacity: 1;
  }
}
