:root {
  --primary-color: #0A2345;
  --white: #FFFFFF;
  --black: #000000;
  --green: #6FB23B;
  --grey: #B8B8B8;
  --mg-bottom: 30px
;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  direction: rtl;
  color: var(--white);
  background-color: var(--primary-color);
  font-family: 'League Spartan', sans-serif;
}

.preload {
  -webkit-transition: none !important;
  transition: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: auto;
  padding: 20px 20px 0;
  max-width: 1200px;
}

.btn {
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  background-color: var(--green);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.hide {
  display: none;
}

.price {
  direction: ltr;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  display: inline-block;
  color: var(--green);
}

.discount {
  color: #8f8a8a;
  text-decoration: line-through;
}

.message-success {
  color: #fafafa;
  background-color: #81c784;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: .5rem;
  font-weight: bold;
}

header {
  margin-bottom: var(--mg-bottom);
}

header .categories-liste {
  max-width: 900px;
  margin: auto;
}

header .categories-liste ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-size: 25px;
}

header .categories-liste ul li {
  border-radius: 20px;
  padding: 5px 15px;
  background-color: var(--grey);
  opacity: 0.7;
}

header .categories-liste ul li:hover {
  opacity: 1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 3px -3px #fff;
          box-shadow: 0 5px 3px -3px #fff;
  padding-bottom: 5px;
}

nav .menu button {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: var(--white);
  border: none;
}

nav .menu-sidebar .dropdown {
  visibility: hidden;
}

nav .menu-sidebar .dropdown .select {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

nav .menu-sidebar .dropdown .select .caret {
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

nav .menu-sidebar.visible .menu-links {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .menu-sidebar.visible .menu-overlay {
  opacity: 1;
  visibility: visible;
}

nav .menu-links, nav .menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

nav .menu-links {
  background-color: #0C0A3B;
  color: var(--white);
  padding-top: 46px;
  width: 250px;
  z-index: 2;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  overflow-y: scroll;
}

nav .menu-links::-webkit-scrollbar {
  display: block;
  width: 10px;
  background-color: transparent;
}

nav .menu a.menu-link {
  text-transform: capitalize;
  display: block;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

nav .menu a.menu-link:hover {
  background-color: #262364;
}

nav .menu-overlay {
  background-color: #0000008f;
  z-index: 1;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

nav h1 {
  font-size: 30px;
  text-align: center;
}

nav .logo img {
  width: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 760px) {
  header .categories-liste {
    display: none;
  }
  nav h1 {
    font-size: 20px;
  }
  nav .menu-links.scroll::-webkit-scrollbar {
    background-color: #fff;
  }
  nav .menu-links.scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  nav .menu-links .dropdown {
    visibility: visible;
  }
  nav .menu-links .dropdown .categories-dropdown {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, -webkit-transform 300ms;
    transition: transform 300ms, opacity 300ms;
    transition: transform 300ms, opacity 300ms, -webkit-transform 300ms;
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  nav .menu-links .dropdown .categories-dropdown a {
    pointer-events: none;
  }
  nav .menu-links .dropdown.active .caret {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  nav .menu-links .dropdown.active .categories-dropdown {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  nav .menu-links .dropdown.active .categories-dropdown a {
    pointer-events: visible;
  }
}

body {
  min-height: 100vh;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  background-color: #222;
  color: white;
  padding: 50px 60px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: auto;
}

footer .title {
  font-size: 2.4rem;
  font-weight: 500;
}

footer .copyright p {
  font-size: 18px;
}

footer .mg-bottom {
  margin-bottom: 15px;
}

@media only screen and (max-width: 760px) {
  footer {
    padding: 40px 60px;
    padding-bottom: 100px;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-gap: 40px;
  }
}

.social-media {
  font-size: 2rem;
}

.social-media a {
  margin-right: 10px;
  color: #fff;
}

.social-media .fa-facebook:hover {
  color: #1875ea;
}

.social-media .fa-instagram:hover {
  color: #d4465c;
}

html {
  scroll-behavior: smooth;
}

section.produit {
  margin-bottom: 100px;
}

.produit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produit-box .produit-details, .produit-box .formulaire {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.produit-details {
  padding-right: 30px;
  margin-bottom: 30px;
}

.produit-title {
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center;
}

.poduit-images {
  margin-bottom: 15px;
}

.poduit-images .image-to-show {
  width: auto;
  max-width: 450px;
  height: 450px;
  max-height: 450px;
  margin: auto;
  margin-bottom: 10px;
  display: none;
  background-size: cover;
  background-position: center;
}

.poduit-images .image-to-show.active {
  display: block;
}

.poduit-images .carousel {
  position: relative;
  max-width: 450px;
  margin: auto;
  padding: 0 50px;
}

.poduit-images span.carousel-button {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #00000066;
  padding: 10px 15px 5px;
  line-height: 29px;
  z-index: 2;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

.poduit-images span.carousel-button.prev {
  left: 0;
}

.poduit-images span.carousel-button.next {
  right: 0;
}

.poduit-images span.carousel-button.hide {
  display: none;
}

.poduit-images .slide-nav {
  overflow: hidden;
  margin: auto;
  height: 100px;
  position: relative;
  z-index: 1;
}

.poduit-images .slide-nav .slide-container {
  max-width: 400px;
  position: relative;
  left: 0;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.poduit-images .slide-nav .slide {
  position: absolute;
  height: 90px;
  background-size: cover;
  display: inline-block;
  background-position: center;
  width: calc(25% - 5px);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  cursor: pointer;
}

.poduit-images .slide-nav .slide.active {
  -webkit-filter: none;
          filter: none;
}

.produit-price {
  text-align: right;
  direction: ltr;
  color: var(--green);
  font-size: 35px;
  margin-bottom: 10px;
}

.produit-price::after {
  content: "DA";
}

.produit-descriptions .produit-description-ar,
.produit-descriptions .produit-description-fr {
  margin-bottom: 15px;
}

.produit-descriptions .produit-description-ar {
  direction: rtl;
}

.formulaire {
  margin-top: 50px;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
}

.formulaire h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.formulaire input {
  border: none;
  outline: none;
}

.formulaire input[type="text"],
.formulaire input[type="number"],
.formulaire .adresse,
.formulaire .total-price {
  margin-bottom: 15px;
}

.formulaire input[type="text"] {
  display: block;
  padding: 10px 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
}

.formulaire label, .formulaire .total-price {
  font-size: 20px;
  font-weight: bold;
}

.formulaire .adresse {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formulaire .adresse > * {
  width: 48%;
}

.formulaire .adresse select {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 16px;
}

.formulaire input[type="number"] {
  width: 60px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 6px;
}

.formulaire input[type=number]::-webkit-inner-spin-button,
.formulaire input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.formulaire .total-price {
  font-size: 30px;
}

.formulaire .total-price span {
  color: var(--green);
}

.formulaire .total-price span::after {
  content: "DA";
}

.formulaire button[type="submit"] {
  background-color: var(--green);
  font-weight: bold;
  font-size: 25px;
  padding: 10px 40px;
  width: 280px;
  text-align: start;
  border-radius: 21px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.formulaire .errors-box {
  margin-bottom: 15px;
  border-radius: 5px;
  color: red;
  background: #ffffff;
  padding: 10px;
  max-width: 300px;
  display: none;
}

.formulaire .errors-box.visible {
  display: block;
}

.formulaire .errors-box li {
  list-style-type: disc;
  list-style-position: inside;
}

.commande-button {
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: #DF0707;
  border-radius: 7px;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  display: none;
  -webkit-animation: shake 3000ms 1500ms cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
          animation: shake 3000ms 1500ms cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.popup {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  inset: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.popup.fade-in {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup.fade-out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.popup-card {
  position: relative;
  height: 140px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  color: var(--black, #000);
  text-align: center;
}

.popup-card img {
  width: 50px;
}

.popup-card .check-icon {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.popup-message {
  padding-top: 7px;
}

.popup-message span {
  display: block;
  margin-bottom: 5px;
}

@media only screen and (max-width: 760px) {
  .produit-box {
    display: block;
  }
  .produit-box .produit-details {
    padding: 0;
  }
  .formulaire {
    margin: auto;
    max-width: auto;
  }
  .commande-button {
    opacity: 0;
    display: block;
    left: 20px;
    right: 20px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    text-align: center;
  }
  .commande-button.fadeout {
    opacity: 0;
    pointer-events: none;
    -webkit-animation: none;
            animation: none;
  }
  .commande-button.fadein {
    opacity: 1;
  }
  .popup-card {
    height: 220px;
  }
  .popup-card .check-icon {
    position: absolute;
    top: -30%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

@-webkit-keyframes shake {
  5%, 45% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  10%, 40% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  15%, 25%, 35% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20%, 30% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  45%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  5%, 45% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  10%, 40% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  15%, 25%, 35% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20%, 30% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  45%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
