header {

    margin-bottom: var(--mg-bottom);

    .categories-liste {
        max-width: 900px;
        margin: auto;
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            font-size: 25px;

            li {
                border-radius: 20px;
                padding: 5px 15px;
                background-color: var(--grey);
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 5px 3px -3px #fff;
    padding-bottom: 5px;

    .menu {
        button {
            font-size: 30px;
            cursor: pointer;
            background-color: transparent;
            color: var(--white);
            border: none
        }

        &-sidebar {
            .dropdown {
                visibility: hidden;
                .select {
                    padding: 10px;
                    font-size: 20px;
                    text-align: center;
                    text-decoration: underline;
                    cursor: pointer;

                    .caret {
                        border-top: 5px solid #fff;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        margin-left: 5px;
                        display: inline-block;
                        transition: transform 300ms;
                    }
                }
            }
        }

        &-sidebar.visible {

            .menu-links {
                transform: translateX(0);
            }

            .menu-overlay {
                opacity: 1;
                visibility: visible;
            }
        }

        &-links, &-overlay {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
        }

        &-links {
            background-color: #0C0A3B;
            color: var(--white);
            padding-top: 46px;
            width: 250px;
            z-index: 2;
            transform: translateX(-250px);
            transition: transform 300ms;
            
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: block;
                width: 10px;
                background-color: transparent;
            }
        }

        a.menu-link {
            text-transform: capitalize;
            display: block;
            font-size: 20px;
            padding: 20px;
            text-align: center;

            &:hover {
                background-color: #262364;
            }
        }

        &-overlay {
            background-color: #0000008f;
            z-index: 1;
            right: 0;
            opacity: 0;
            visibility: hidden;
        }
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    .logo img {
        width: 50px;
        border-radius: 50%;
    }
}

@media only screen and (max-width:760px) {

    header {
        .categories-liste {
            display: none;
        }
    }

    nav {
        h1 {
            font-size: 20px;
        }

        .menu-links {
            &.scroll {
    
                &::-webkit-scrollbar {
                    background-color: #fff;
                }

                &::-webkit-scrollbar-thumb {
                    background: #ccc; 
                    border-radius: 10px;
                }
            }

            .dropdown {
                visibility: visible;

                .categories-dropdown  {
                    transform: translateY(-10px);
                    transition: transform 300ms, opacity 300ms;
                    transform-origin: top;
                    opacity: 0;

                    // if you dont use this the user will be able to click on the link
                    // when it's visiblity is hidden
                    a {
                        pointer-events:none;
                    }
                }
                
                &.active {

                    .caret {
                        transform: rotate(-180deg);
                    }
                    .categories-dropdown  {
                        transform: translateY(0);
                        opacity: 1;
                        
                        a {
                            pointer-events: visible;
                        }
                    }
                }
            }

        }
    }
    
}

