.item {
    position: relative;
    text-align: center;
    min-height: 410px;
    width: 350px;
    max-width: 350px;
    margin: auto;
    padding-bottom: 10px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 15px;
    transition: transform 300ms;
    box-shadow: 0 0 7px var(--black);

    &:hover {
        transform: scale(1.04);
    }
    
    img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: auto;
        max-height: 270px;
    }

    &-name {
        margin: 10px 0;
        font-size: 25px;
        font-weight: 400;
        display: inline-block;
    }

    &-price {
        margin-bottom: 30px;
    }

    button {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
    }
}