html {
    scroll-behavior: smooth;
}

section.produit {
    margin-bottom: 100px;
}

.produit-box {
    display: flex;
    align-items: center;

    .produit-details, .formulaire {
        flex-basis: 50%;
    }
}

.produit-details {
    padding-right: 30px;
    margin-bottom: 30px;
}

.produit-title {
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.poduit-images {
    margin-bottom: 15px;

    .image-to-show {
        width: auto;
        max-width: 450px;
        margin: auto;

        & > img {
            width: 100%;
        }
    }
}

.produit-price {
    color: var(--green);
    font-size: 35px;
    margin-bottom: 10px;

    &::after {
        content: "DA";
    }
}

.produit-descriptions {
    .produit-description-ar, 
    .produit-description-fr {
        margin-bottom: 15px;
    }
    .produit-description-ar {
        direction: rtl;
    }
}

.formulaire {
    margin-left: auto;
    width: fit-content;
    text-transform: capitalize;

    h2 {
        margin-bottom: 20px;
        font-size: 32px;
    }

    input {
        border: none;
        outline: none;
    }

    input[type="text"],  
    input[type="number"],  
    .adresse,  
    .total-price {
        margin-bottom: 15px;
    }

    input[type="text"] {
        display: block;
        padding: 5px 10px;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
        font-size: 16px;
    }

    label, .total-price {
        font-size: 20px;
        font-weight: bold;
    }

    select {
        width: 155px;
        border-radius: 5px;
        padding: 5px;
        margin-left: 5px;

        &[name="wilaya"] {
            margin-right: 10px;
        }
    }

    .select-box {
        display: inline-block;
        margin-bottom: 15px;
    }

    input[type="number"] {
        width: 60px;
        margin-left: 10px;
        padding: 10px;
        border-radius: 6px;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
    }


    .total-price {
        font-size: 30px;
        span{
            color: var(--green);
            &::after {
                content: "DA";
            }
        }
    }

    button[type="submit"] {
        background-color: var(--green);
        font-weight: bold;
        font-size: 25px;
        padding: 10px 40px;
        width: 280px;
        text-align: start;
        border-radius: 21px;
        cursor: pointer;
        border: none;
    }

    .errors-box {
        margin-bottom: 15px;
        border-radius: 5px;
        color: red;
        background: #ffffff;
        padding: 10px;
        max-width: 300px;
        display: none;

        &.visible {
            display: block;
        }

        li {
            list-style-type: disc;
            list-style-position: inside;
        }
    }
}

.commande-button {
    padding: 15px 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background-color: #DF0707;
    border-radius: 7px;
    transition: opacity 300ms;
    display: none;

    animation: shake 3000ms 1500ms cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
    transform: translate3d(0, 0, 0);
    animation-iteration-count: infinite;
}

@media only screen and (max-width:760px) {

    .produit-box {
        display: block;

        .produit-details {
            padding: 0;
        }
    }
    
    .formulaire {
        margin: auto;
        max-width: auto;
    }

    .commande-button {
        opacity: 0;
        display: block;
        left: 20px;
        right: 20px;
        position: fixed;
        z-index: 2;
        bottom: 0;
        text-align: center;

        &.fadeout {
            opacity: 0;
            pointer-events: none;
            animation: none;
        }

        &.fadein {
            opacity: 1;
        }
    }
}

@keyframes shake {
    5%, 45% {
      transform: translate3d(-1px, 0, 0);
    }
    
    10%, 40% {
      transform: translate3d(2px, 0, 0);
    }
  
    15%, 25%, 35% {
      transform: translate3d(-4px, 0, 0);
    }
  
    20%, 30% {
      transform: translate3d(4px, 0, 0);
    }
    45%, 100% {
        transform: translate3d(0, 0, 0);
    }
  }
