.banniere {
    height: 200px; // in mobile 150px
    margin-bottom: var(--mg-bottom);

    &-desktop,
    &-mobile
    {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

section.categorie{

    margin-bottom: var(--mg-bottom);

    .categorie-title {
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: var(--mg-bottom);
    }

    .categorie-items {
        display: flex;
        gap: 20px;

        .item {
            text-align: center;
            width: 350px;
            margin: auto;
            padding-bottom: 10px;
            background-color: var(--white);
            color: var(--black);
            border-radius: 15px;
            transition: transform 300ms;
            box-shadow: 0 0 7px var(--black);

            &:hover {
                transform: scale(1.04);
            }
            
            img {
                border-radius: 15px 15px 0 0;
                width: 100%;
            }

            &-name {
                margin: 10px 0;
                font-size: 25px;
                font-weight: 400;
                display: inline-block;
            }
        }
    }
}

@media only screen and (max-width:760px) {

    .categorie-items {
        flex-wrap: wrap;
    }

    .banniere {
        height: 150px;
    }
    
}